.form-label[data-v-ab6d2149]{margin-bottom:.5rem}textarea[data-v-ab6d2149],.hasil[data-v-ab6d2149]{height:27.5rem}.form-label[data-v-ab6d2149],.form-control[data-v-ab6d2149]{display:block}video.svelte-12nodis{box-shadow:10px 10px #000}
